<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <a href = "/"><h2>Practise Problems</h2></a>
    <!-- <h3></h3> -->
    <!-- <a href="/smoothies" class="btn">View Recipes</a> -->
  </div>
</header>


<%- include('partials/footer'); -%>